.navbar{
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11111;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}


.nav_img{
    height: 5rem;
    background-color: transparent;
    font-weight: bold;
    margin-top: 0.3rem;
    cursor: pointer;
}
    
.scroolbar_black{
    background-color: #000;
}